@charset "UTF-8";
/*
 * Eric Meyer's Reset CSS v2.0
 * http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain)
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Normalize color stops:
 *
 *   - (color pos) -> (pos color)
 *   - (color) -> (implied-pos color)
 *
 * nibから拝借
 */
/**
 * Implicit color stop position.
 *
 * nibから拝借
 */
/**
 * グラデーションのstart指定を変換する
 */
html, body {
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none; }

body, body *, body ::before, body ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  background-color: white; }

body {
  font-size: 1rem;
  color: #666;
  font-weight: normal; }

a {
  text-decoration: none; }

.c-align_l {
  text-align: left !important; }

.c-align_c {
  text-align: center !important; }

.c-align_r {
  text-align: right !important; }

.c-center_block {
  display: block !important;
  margin-left: auto;
  margin-right: auto; }

.c-display_s {
  display: block !important; }

.c-display_n {
  display: none !important;
  visibility: hidden !important; }

.c-display_h {
  visibility: hidden !important; }

.c-display_f {
  display: -webkit-box; }

.c-display_i {
  display: inline-block !important; }

.c-pull_l {
  float: left !important; }

.c-pull_r {
  float: right !important; }

.c-pull_c {
  clear: both !important; }

.c-clearfix::after {
  content: '\0020';
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.c-text_nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.c-flex {
  display: -webkit-box; }
  .c-flex:not(.c-flex-orient_vl) {
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center; }

.c-flex.c-flex-orient_hl {
  -webkit-box-orient: horizontal;
  box-orient: horizontal; }

.c-flex.c-flex-orient_vl {
  -webkit-box-orient: vertical;
  box-orient: vertical; }

.c-flex.c-flex-pack_start {
  -webkit-box-pack: start;
  box-pack: start; }

.c-flex.c-flex-pack_end {
  -webkit-box-pack: end;
  box-pack: end; }

.c-flex.c-flex-pack_justify {
  -webkit-box-pack: justify;
  box-pack: justify; }

.c-flex.c-flex-align_start {
  -webkit-box-align: start;
  box-align: start; }

.c-flex.c-flex-align_end {
  -webkit-box-align: end;
  box-align: end; }

.c-flex.c-flex-align_stretch {
  -webkit-box-align: stretch;
  box-align: stretch; }

.c-flex.c-flex-dir_reverse {
  -webkit-box-direction: reverse;
  box-direction: reverse; }

.c-flex_1 {
  -webkit-box-flex: 1;
  box-flex: 1; }

.c-hd {
  display: block;
  text-align: center; }

.c-btn {
  display: block;
  text-decoration: none;
  text-align: center; }

.c-list__item {
  position: relative; }
  .c-list__item > a {
    display: block; }
